**Pandas** is an open-source, Python library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language.
Pandas is an open-source Python Library providing high-performance data manipulation and analysis tool using its powerful data structures. The name Pandas is derived from the word Panel Data – an Econometrics from Multidimensional data.

A **Data frame** is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns.

A pandas DataFrame can be created using the following constructor −
pandas.DataFrame( data, index, columns, dtype, copy)

In [ ]:
pip install pandas

In [ ]:
## First step is to import pandas
import pandas as pd
import numpy as np

In [ ]:
d = pd.DataFrame()

In [ ]:
print(d)

Empty DataFrame
Columns: []
Index: []

In [ ]:
## Playing with Dataframe
#a dataframe is a combination of rows and columns

df=pd.DataFrame(np.arange(0,20).reshape(5,4),index=['Row1','Row2','Row3','Row4','Row5'],columns=["Column1","Column2","Column3","Coumn4"])
df

      Column1  Column2  Column3  Coumn4
Row1        0        1        2       3
Row2        4        5        6       7
Row3        8        9       10      11
Row4       12       13       14      15
Row5       16       17       18      19

In [ ]:
df.head(2)

      Column1  Column2  Column3  Coumn4
Row1        0        1        2       3
Row2        4        5        6       7

In [ ]:
df.head(2)# first 5 rows
#try tail
df.tail(2)#last 5 rows

      Column1  Column2  Column3  Coumn4
Row4       12       13       14      15
Row5       16       17       18      19

In [ ]:
df.to_csv('test1.csv')#works with jupyter

In [ ]:
#accessing elements
#loc   #iloc
df.loc[['Row3','Row4']]

      Column1  Column2  Column3  Coumn4
Row3        8        9       10      11
Row4       12       13       14      15

In [ ]:
#check the type
type(df.loc['Row1'])
#series has only one row or column

pandas.core.series.Series

In [ ]:
#iloc
df.iloc[:,:]

      Column1  Column2  Column3  Coumn4
Row1        0        1        2       3
Row2        4        5        6       7
Row3        8        9       10      11
Row4       12       13       14      15
Row5       16       17       18      19

In [ ]:
df.iloc[1:3,:1]

      Column1
Row2        4
Row3        8

In [ ]:
## Take the elements from the Column2
df.iloc[:,0:2]

      Column1  Column2
Row1        0        1
Row2        4        5
Row3        8        9
Row4       12       13
Row5       16       17

In [ ]:
df.iloc[0:3,0:2]#df.iloc[:3,:2]

      Column1  Column2
Row1        0        1
Row2        4        5
Row3        8        9

In [ ]:
type(df.iloc[0:3,0:2])

pandas.core.frame.DataFrame

In [ ]:
df.values

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19]])

In [ ]:
df['Column1']

Row1     0
Row2     4
Row3     8
Row4    12
Row5    16
Name: Column1, dtype: int64

In [ ]:
#convert Dataframes into array
df.iloc[:,1:].values

array([[ 1,  2,  3],
       [ 5,  6,  7],
       [ 9, 10, 11],
       [13, 14, 15],
       [17, 18, 19]])

In [ ]:
df['Column1'].value_counts()

12    1
4     1
16    1
8     1
0     1
Name: Column1, dtype: int64

In [ ]:
df.isnull().sum()#check every column if there is any null value

Column1    0
Column2    0
Column3    0
Coumn4     0
dtype: int64

In [ ]:
df.isnull()

      Column1  Column2  Column3  Coumn4
Row1    False    False    False   False
Row2    False    False    False   False
Row3    False    False    False   False
Row4    False    False    False   False
Row5    False    False    False   False

In [ ]:
df.notnull()

      Column1  Column2  Column3  Coumn4
Row1     True     True     True    True
Row2     True     True     True    True
Row3     True     True     True    True
Row4     True     True     True    True
Row5     True     True     True    True

In [ ]:
df.isnull().any()

Column1    False
Column2    False
Column3    False
Coumn4     False
dtype: bool

In [ ]:
df.notnull().sum()

Column1    5
Column2    5
Column3    5
Coumn4     5
dtype: int64

In [ ]:
df.notnull().any()

Column1    True
Column2    True
Column3    True
Coumn4     True
dtype: bool

In [ ]:
df['Column1'].unique()

array([ 0,  4,  8, 12, 16])

In [ ]:
df['Column2']

Row1     1
Row2     5
Row3     9
Row4    13
Row5    17
Name: Column2, dtype: int64

In [ ]:
type(df['Column2'])

pandas.core.series.Series

In [ ]:
df[['Column2','Coumn4']]

      Column2  Coumn4
Row1        1       3
Row2        5       7
Row3        9      11
Row4       13      15
Row5       17      19

In [ ]:
#CREATE AN EMPTY DATAFRAME
#import the pandas library and aliasing as pd
import pandas as pd
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [ ]:
data = [['Alex',10],['Bob',12],['Clarke',13]]
df= pd.DataFrame(data,index=["row1","row2","row3"],columns=['Name','Age'])
df

        Name  Age
row1    Alex   10
row2     Bob   12
row3  Clarke   13

In [ ]:
data

[['Alex', 10], ['Bob', 12], ['Clarke', 13]]

In [ ]:

import pandas as pd
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'],dtype=float)
print(df)

     Name   Age
0    Alex  10.0
1     Bob  12.0
2  Clarke  13.0

In [ ]:
#indexed dataframe
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data,index=['rank1','rank2','rank3','rank4'])
print(df)

        Name  Age
rank1    Tom   28
rank2   Jack   34
rank3  Steve   29
rank4  Ricky   42

In [ ]:
np.nan

nan

In [ ]:
import numpy as np
lst_data=[[1,2,3],[3,4,np.nan],[5,6,np.nan],[np.nan,np.nan,np.nan]]

In [ ]:
df=pd.DataFrame(lst_data)

In [ ]:
df.head()

     0    1    2
0  1.0  2.0  3.0
1  3.0  4.0  NaN
2  5.0  6.0  NaN
3  NaN  NaN  NaN

In [ ]:
df.isnull().sum()

0    1
1    1
2    3
dtype: int64

In [ ]:
df.drop('Age',axis=1) #coloumn - axis=1, row - axis=0(by default)

        Name
rank1    Tom
rank2   Jack
rank3  Steve
rank4  Ricky

In [ ]:
## HAndling Missing Values

##Drop nan values

df = df.dropna(axis=0)

In [ ]:
df

     0    1    2
0  1.0  2.0  3.0

In [ ]:

df.dropna(axis=1)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]

In [ ]:
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f', 'h'],
                     columns=['one', 'two', 'three'])
df

        one       two     three
a -1.535852 -0.760899 -1.039499
c  0.215295 -0.584422  1.646642
e -2.381731  0.006707  1.479918
f  1.469480  1.257183  0.269778
h  0.341718  0.920667  0.640120

In [ ]:
import random
random.shuffle(df2['four'])

In [ ]:
df2

        one       two     three  four
a -1.535852 -0.760899 -1.039499   NaN
b       NaN       NaN       NaN   NaN
c  0.215295 -0.584422  1.646642   4.0
d       NaN       NaN       NaN   3.0
e -2.381731  0.006707  1.479918   NaN
f  1.469480  1.257183  0.269778   1.0
g       NaN       NaN       NaN   NaN
h  0.341718  0.920667  0.640120   2.0

In [ ]:
df["four"] = np.random.randn(5)

In [ ]:
df['four'] = [1,2,3,4,np.nan]

In [ ]:
df

        one       two     three  four
a -1.535852 -0.760899 -1.039499   1.0
c  0.215295 -0.584422  1.646642   2.0
e -2.381731  0.006707  1.479918   3.0
f  1.469480  1.257183  0.269778   4.0
h  0.341718  0.920667  0.640120   NaN

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, a to h
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   one     5 non-null      float64
 1   two     5 non-null      float64
 2   three   5 non-null      float64
 3   four    4 non-null      float64
dtypes: float64(4)
memory usage: 200.0+ bytes

In [ ]:
df.describe()

            one       two     three      four
count  5.000000  5.000000  5.000000  4.000000
mean  -0.378218  0.167847  0.599392  2.500000
std    1.552315  0.895521  1.080315  1.290994
min   -2.381731 -0.760899 -1.039499  1.000000
25%   -1.535852 -0.584422  0.269778  1.750000
50%    0.215295  0.006707  0.640120  2.500000
75%    0.341718  0.920667  1.479918  3.250000
max    1.469480  1.257183  1.646642  4.000000

In [ ]:
df.describe(include="all")

            one       two     three
count  5.000000  5.000000  5.000000
mean  -0.318422  0.018003  0.549381
std    1.356624  0.809133  1.273360
min   -2.120677 -0.616478 -0.441992
25%   -1.339232 -0.412586 -0.398402
50%    0.231619 -0.350570  0.167581
75%    0.513401  0.076303  0.770317
max    1.122781  1.393345  2.649401

In [ ]:
df.shape

(5, 3)

In [ ]:
df2=df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])

In [ ]:
df2 #1  2 3  4 5  6
#1 3 5 6
#df.reindex()
1234
df2

        one       two     three  four
a -1.535852 -0.760899 -1.039499   1.0
b       NaN       NaN       NaN   NaN
c  0.215295 -0.584422  1.646642   2.0
d       NaN       NaN       NaN   NaN
e -2.381731  0.006707  1.479918   3.0
f  1.469480  1.257183  0.269778   4.0
g       NaN       NaN       NaN   NaN
h  0.341718  0.920667  0.640120   NaN

In [ ]:
df2.fillna("missing")

        one         two     three     four
a  -1.53585   -0.760899   -1.0395        1
b   missing     missing   missing  missing
c  0.215295   -0.584422   1.64664        2
d   missing     missing   missing  missing
e  -2.38173  0.00670668   1.47992        3
f   1.46948     1.25718  0.269778        4
g   missing     missing   missing  missing
h  0.341718    0.920667   0.64012  missing

In [ ]:
df.mean()

one     -0.378218
two      0.167847
three    0.599392
four     2.500000
dtype: float64

In [ ]:
df2.fillna(df.mean())

        one       two     three  four
a -1.535852 -0.760899 -1.039499   1.0
b -0.378218  0.167847  0.599392   2.5
c  0.215295 -0.584422  1.646642   2.0
d -0.378218  0.167847  0.599392   2.5
e -2.381731  0.006707  1.479918   3.0
f  1.469480  1.257183  0.269778   4.0
g -0.378218  0.167847  0.599392   2.5
h  0.341718  0.920667  0.640120   2.5

In [ ]:
df2.fillna(5)

        one       two     three  four
a -1.535852 -0.760899 -1.039499   1.0
b  5.000000  5.000000  5.000000   5.0
c  0.215295 -0.584422  1.646642   2.0
d  5.000000  5.000000  5.000000   5.0
e -2.381731  0.006707  1.479918   3.0
f  1.469480  1.257183  0.269778   4.0
g  5.000000  5.000000  5.000000   5.0
h  0.341718  0.920667  0.640120   5.0

In [ ]:
df.mean()

0    1.0
1    2.0
2    3.0
dtype: float64

In [ ]:
df2.fillna(df.mean())

        one       two     three
a -2.120677 -0.616478  2.649401
b -0.318422  0.018003  0.549381
c -1.339232 -0.350570 -0.398402
d -0.318422  0.018003  0.549381
e  0.231619 -0.412586 -0.441992
f  1.122781  0.076303  0.770317
g -0.318422  0.018003  0.549381
h  0.513401  1.393345  0.167581

In [ ]:
# Backward Fill
# Forward Fill

In [ ]:
df2.fillna(method="ffill")

        one       two     three
a -2.120677 -0.616478  2.649401
b -2.120677 -0.616478  2.649401
c -1.339232 -0.350570 -0.398402
d -1.339232 -0.350570 -0.398402
e  0.231619 -0.412586 -0.441992
f  1.122781  0.076303  0.770317
g  1.122781  0.076303  0.770317
h  0.513401  1.393345  0.167581

In [ ]:
df2.fillna(method="bfill")

        one       two     three
a -2.120677 -0.616478  2.649401
b -1.339232 -0.350570 -0.398402
c -1.339232 -0.350570 -0.398402
d  0.231619 -0.412586 -0.441992
e  0.231619 -0.412586 -0.441992
f  1.122781  0.076303  0.770317
g  0.513401  1.393345  0.167581
h  0.513401  1.393345  0.167581

In [ ]:
df.mean()

one     -0.318422
two      0.018003
three    0.549381
dtype: float64

In [ ]:
df2.dropna(axis=1)

Empty DataFrame
Columns: []
Index: [a, b, c, d, e, f, g, h]

In [ ]:

pd.isna(df2['one'])#isnull

a    False
b     True
c    False
d     True
e    False
f    False
g     True
h    False
Name: one, dtype: bool

In [ ]:
df2['one'].notna()

a     True
b    False
c     True
d    False
e     True
f     True
g    False
h     True
Name: one, dtype: bool

In [ ]:
df2.fillna('Missing')

        one        two     three
a  -2.12068  -0.616478    2.6494
b   Missing    Missing   Missing
c  -1.33923   -0.35057 -0.398402
d   Missing    Missing   Missing
e  0.231619  -0.412586 -0.441992
f   1.12278  0.0763033  0.770317
g   Missing    Missing   Missing
h  0.513401    1.39335  0.167581

In [ ]:
df2.fillna('Missing')

         one        two     three
a   -1.09168 -0.0493499  -0.44454
b    Missing    Missing   Missing
c   0.121645  -0.679155 -0.956376
d    Missing    Missing   Missing
e    2.37984   0.675421 -0.663766
f -0.0750738   0.699383   2.23007
g    Missing    Missing   Missing
h   -1.18215  -0.475823  -1.07729

In [3]:
from google.colab import files
uploaded=files.upload()

Saving titanic.csv to titanic.csv

In [2]:
import pandas as pd
import numpy as np
df1 = pd.read_csv('titanic.csv')
df1

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0              1         0       3  ...   7.2500   NaN         S
1              2         1       1  ...  71.2833   C85         C
2              3         1       3  ...   7.9250   NaN         S
3              4         1       1  ...  53.1000  C123         S
4              5         0       3  ...   8.0500   NaN         S
..           ...       ...     ...  ...      ...   ...       ...
886          887         0       2  ...  13.0000   NaN         S
887          888         1       1  ...  30.0000   B42         S
888          889         0       3  ...  23.4500   NaN         S
889          890         1       1  ...  30.0000  C148         C
890          891         0       3  ...   7.7500   NaN         Q

[891 rows x 12 columns]

In [ ]:
df1 = df1.drop('Unnamed: 0',axis=1)
df1

   Column1  Column2  Column3  Coumn4
0        0        1        2       3
1        4        5        6       7
2        8        9       10      11
3       12       13       14      15
4       16       17       18      19

In [ ]:
#df=pd.read_csv('titanic.csv',usecols=['col1','col2'])

In [ ]:
df1.drop('Name',axis=1)

     PassengerId  Survived  Pclass  ...     Fare  Cabin  Embarked
0              1         0       3  ...   7.2500    NaN         S
1              2         1       1  ...  71.2833    C85         C
2              3         1       3  ...   7.9250    NaN         S
3              4         1       1  ...  53.1000   C123         S
4              5         0       3  ...   8.0500    NaN         S
..           ...       ...     ...  ...      ...    ...       ...
886          887         0       2  ...  13.0000    NaN         S
887          888         1       1  ...  30.0000    B42         S
888          889         0       3  ...  23.4500    NaN         S
889          890         1       1  ...  30.0000   C148         C
890          891         0       3  ...   7.7500    NaN         Q

[891 rows x 11 columns]

In [ ]:
#get the shape
df1.shape

(891, 12)

In [ ]:
#get first 5 rows from top
df1.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [ ]:
#get first 10 rows from top
df1.head(10)

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S
5            6         0       3  ...   8.4583   NaN         Q
6            7         0       1  ...  51.8625   E46         S
7            8         0       3  ...  21.0750   NaN         S
8            9         1       3  ...  11.1333   NaN         S
9           10         1       2  ...  30.0708   NaN         C

[10 rows x 12 columns]

In [ ]:
df1.tail()#get last 5 rows
#df1.tail(10)#get last 10 rows

     PassengerId  Survived  Pclass  ...   Fare Cabin  Embarked
886          887         0       2  ...  13.00   NaN         S
887          888         1       1  ...  30.00   B42         S
888          889         0       3  ...  23.45   NaN         S
889          890         1       1  ...  30.00  C148         C
890          891         0       3  ...   7.75   NaN         Q

[5 rows x 12 columns]

In [ ]:
df1.ndim #get the dimension of dataset

2

In [ ]:
df1.columns#returns column names

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [ ]:
df1.dtypes#returns datatypes of columns

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [ ]:
df1.info()#gives information about dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
print(df1['Cabin'])#print a column

0       NaN
1       C85
2       NaN
3      C123
4       NaN
       ...
886     NaN
887     B42
888     NaN
889    C148
890     NaN
Name: Cabin, Length: 891, dtype: object

In [ ]:
print(df1[['Age','Cabin']])

      Age Cabin
0    22.0   NaN
1    38.0   C85
2    26.0   NaN
3    35.0  C123
4    35.0   NaN
..    ...   ...
886  27.0   NaN
887  19.0   B42
888   NaN   NaN
889  26.0  C148
890  32.0   NaN

[891 rows x 2 columns]

In [ ]:
print(df1[['Age','Cabin','Ticket','Pclass']])

      Age Cabin            Ticket  Pclass
0    22.0   NaN         A/5 21171       3
1    38.0   C85          PC 17599       1
2    26.0   NaN  STON/O2. 3101282       3
3    35.0  C123            113803       1
4    35.0   NaN            373450       3
..    ...   ...               ...     ...
886  27.0   NaN            211536       2
887  19.0   B42            112053       1
888   NaN   NaN        W./C. 6607       3
889  26.0  C148            111369       1
890  32.0   NaN            370376       3

[891 rows x 4 columns]

In [ ]:
df1.Survived.value_counts()#count the number of values in columns

0    549
1    342
Name: Survived, dtype: int64

In [ ]:
df1['Survived'].value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [ ]:
df1.Pclass.value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [ ]:
df1.Fare.value_counts()

8.0500     43
13.0000    42
7.8958     38
7.7500     34
26.0000    31
           ..
8.4583      1
9.8375      1
8.3625      1
14.1083     1
17.4000     1
Name: Fare, Length: 248, dtype: int64

In [ ]:
df1.Sex.value_counts() # df1['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [ ]:
r1=df1.iloc[3]#print row of given index
print(r1)

PassengerId                                               4
Survived                                                  1
Pclass                                                    1
Name           Futrelle, Mrs. Jacques Heath (Lily May Peel)
Sex                                                  female
Age                                                      35
SibSp                                                     1
Parch                                                     0
Ticket                                               113803
Fare                                                   53.1
Cabin                                                  C123
Embarked                                                  S
Name: 3, dtype: object

In [ ]:
r2=df1.iloc[3:7]#print row values of given loc
print(r2)

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S
5            6         0       3  ...   8.4583   NaN         Q
6            7         0       1  ...  51.8625   E46         S

[4 rows x 12 columns]

In [ ]:
print(df1.iloc[:2])

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C

[2 rows x 12 columns]

**HANDLING MISSING DATA**

In [ ]:
df1.isnull().any()

PassengerId    False
Survived       False
Pclass         False
Name           False
Sex            False
Age             True
SibSp          False
Parch          False
Ticket         False
Fare           False
Cabin           True
Embarked        True
dtype: bool

In [ ]:
df1.notnull().any()

PassengerId    True
Survived       True
Pclass         True
Name           True
Sex            True
Age            True
SibSp          True
Parch          True
Ticket         True
Fare           True
Cabin          True
Embarked       True
dtype: bool

In [ ]:
df1['Cabin'].isnull()

0       True
1      False
2       True
3      False
4       True
       ...
886     True
887    False
888     True
889    False
890     True
Name: Cabin, Length: 891, dtype: bool

In [ ]:
df1['Cabin'].notnull()

0      False
1       True
2      False
3       True
4      False
       ...
886    False
887     True
888    False
889     True
890    False
Name: Cabin, Length: 891, dtype: bool

In [ ]:
df1.notnull().sum()

PassengerId    891
Survived       891
Pclass         891
Name           891
Sex            891
Age            714
SibSp          891
Parch          891
Ticket         891
Fare           891
Cabin          204
Embarked       889
dtype: int64

In [ ]:
df1.isnull()

     PassengerId  Survived  Pclass   Name  ...  Ticket   Fare  Cabin  Embarked
0          False     False   False  False  ...   False  False   True     False
1          False     False   False  False  ...   False  False  False     False
2          False     False   False  False  ...   False  False   True     False
3          False     False   False  False  ...   False  False  False     False
4          False     False   False  False  ...   False  False   True     False
..           ...       ...     ...    ...  ...     ...    ...    ...       ...
886        False     False   False  False  ...   False  False   True     False
887        False     False   False  False  ...   False  False  False     False
888        False     False   False  False  ...   False  False   True     False
889        False     False   False  False  ...   False  False  False     False
890        False     False   False  False  ...   False  False   True     False

[891 rows x 12 columns]

In [ ]:
df1.fillna(5)

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0              1         0       3  ...   7.2500     5         S
1              2         1       1  ...  71.2833   C85         C
2              3         1       3  ...   7.9250     5         S
3              4         1       1  ...  53.1000  C123         S
4              5         0       3  ...   8.0500     5         S
..           ...       ...     ...  ...      ...   ...       ...
886          887         0       2  ...  13.0000     5         S
887          888         1       1  ...  30.0000   B42         S
888          889         0       3  ...  23.4500     5         S
889          890         1       1  ...  30.0000  C148         C
890          891         0       3  ...   7.7500     5         Q

[891 rows x 12 columns]

In [ ]:
df1['Cabin'] = df1['Cabin'].fillna(method='bfill')#will fill with next values

0       C85
1       C85
2      C123
3      C123
4       E46
       ...
886     B42
887     B42
888    C148
889    C148
890     NaN
Name: Cabin, Length: 891, dtype: object

In [ ]:
a = np.arange(0,891)
df1['New'] = a

In [ ]:
len(a)

891

In [ ]:
df1

     PassengerId  Survived  Pclass  ... Cabin Embarked  New
0              1         0       3  ...   NaN        S    0
1              2         1       1  ...   C85        C    1
2              3         1       3  ...   NaN        S    2
3              4         1       1  ...  C123        S    3
4              5         0       3  ...   NaN        S    4
..           ...       ...     ...  ...   ...      ...  ...
886          887         0       2  ...   NaN        S  886
887          888         1       1  ...   B42        S  887
888          889         0       3  ...   NaN        S  888
889          890         1       1  ...  C148        C  889
890          891         0       3  ...   NaN        Q  890

[891 rows x 13 columns]

In [ ]:
df1["Cabin"]=df1['Cabin'].fillna(method='Pad')#fill with previous values
df1

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0              1         0       3  ...   7.2500   NaN         S
1              2         1       1  ...  71.2833   C85         C
2              3         1       3  ...   7.9250   C85         S
3              4         1       1  ...  53.1000  C123         S
4              5         0       3  ...   8.0500  C123         S
..           ...       ...     ...  ...      ...   ...       ...
886          887         0       2  ...  13.0000   C50         S
887          888         1       1  ...  30.0000   B42         S
888          889         0       3  ...  23.4500   B42         S
889          890         1       1  ...  30.0000  C148         C
890          891         0       3  ...   7.7500  C148         Q

[891 rows x 12 columns]

In [ ]:
df1

     Name   Age
0    Alex  10.0
1     Bob  12.0
2  Clarke  13.0

**Try the following in the above dataset**

1.label encoding
2.one hot encoding
3.describe()
4.learn about scaling of dataframe:min max scalar,normalization,standard scalar
5learn and apply padfill,backfill,dropna()

**summary statistics**

In [ ]:

import pandas as pd
data = [['Alex',10],['Bob',12],['Clarke',13]]
my_df = pd.DataFrame(data,columns=['Name','Age'],dtype=float)
print(my_df)

     Name   Age
0    Alex  10.0
1     Bob  12.0
2  Clarke  13.0

In [ ]:
my_df.sum()

Name    AlexBobClarke
Age                35
dtype: object

In [ ]:
my_df.describe()

             Age
count   3.000000
mean   11.666667
std     1.527525
min    10.000000
25%    11.000000
50%    12.000000
75%    12.500000
max    13.000000

**describe()** will exclude chara columns

In [ ]:
my_df.describe(include='all')

        Name        Age
count      3   3.000000
unique     3        NaN
top     Alex        NaN
freq       1        NaN
mean     NaN  11.666667
std      NaN   1.527525
min      NaN  10.000000
25%      NaN  11.000000
50%      NaN  12.000000
75%      NaN  12.500000
max      NaN  13.000000

In [ ]:
import seaborn as sns
d=sns.load_dataset('titanic')
print(d.head())

   survived  pclass     sex   age  ...  deck  embark_town  alive  alone
0         0       3    male  22.0  ...   NaN  Southampton     no  False
1         1       1  female  38.0  ...     C    Cherbourg    yes  False
2         1       3  female  26.0  ...   NaN  Southampton    yes   True
3         1       1  female  35.0  ...     C  Southampton    yes  False
4         0       3    male  35.0  ...   NaN  Southampton     no   True

[5 rows x 15 columns]

Write a Pandas program to create

a) Datetime object for Jan 15 2012.

b) Specific date and time of 9:20 pm.

c) Local date and time.

d) A date without time.

e) Current date.

f) Time from a datetime.

g) Current local time.

In [ ]:
import datetime
from datetime import datetime
print("Datetime object for Jan 11 2012:")
print(datetime(2012, 1, 11))
print("\nSpecific date and time of 9:20 pm") 
print(datetime(2011, 1, 11, 21, 20))
print("\nLocal date and time:")
print(datetime.now())
print("\nA date without time: ")
print(datetime.date(datetime(2012, 5, 22)))
print("\nCurrent date:")
print(datetime.now().date())
print("\nTime from a datetime:")
print(datetime.time(datetime(2012, 12, 15, 18, 12)))
print("\nCurrent local time:") 
print(datetime.now().time())

Datetime object for Jan 11 2012:
2012-01-11 00:00:00

Specific date and time of 9:20 pm
2011-01-11 21:20:00

Local date and time:
2020-10-04 14:56:13.134457

A date without time:
2012-05-22

Current date:
2020-10-04

Time from a datetime:
18:12:00

Current local time:
14:56:13.134951

In [ ]:
#row selection based on condition
df1[df1['Sex']=='female']
#df1[df1['Sex']=='female'].head()

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
1              2         1       1  ...  71.2833   C85         C
2              3         1       3  ...   7.9250   NaN         S
3              4         1       1  ...  53.1000  C123         S
8              9         1       3  ...  11.1333   NaN         S
9             10         1       2  ...  30.0708   NaN         C
..           ...       ...     ...  ...      ...   ...       ...
880          881         1       2  ...  26.0000   NaN         S
882          883         0       3  ...  10.5167   NaN         S
885          886         0       3  ...  29.1250   NaN         Q
887          888         1       1  ...  30.0000   B42         S
888          889         0       3  ...  23.4500   NaN         S

[314 rows x 12 columns]

In [ ]:
#multiple row selection
df1[(df1['Survived']==1) & (df1['Pclass']==1)]

     PassengerId  Survived  Pclass  ...      Fare Cabin  Embarked
1              2         1       1  ...   71.2833   C85         C
3              4         1       1  ...   53.1000  C123         S
11            12         1       1  ...   26.5500  C103         S
23            24         1       1  ...   35.5000    A6         S
31            32         1       1  ...  146.5208   B78         C
..           ...       ...     ...  ...       ...   ...       ...
862          863         1       1  ...   25.9292   D17         S
871          872         1       1  ...   52.5542   D35         S
879          880         1       1  ...   83.1583   C50         C
887          888         1       1  ...   30.0000   B42         S
889          890         1       1  ...   30.0000  C148         C

[136 rows x 12 columns]

In [ ]:
#replace column values
df1['Embarked'] = df1['Embarked'].replace(['C'],'port c')
df1

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0              1         0       3  ...   7.2500   NaN         S
1              2         1       1  ...  71.2833   C85    port c
2              3         1       3  ...   7.9250   NaN         S
3              4         1       1  ...  53.1000  C123         S
4              5         0       3  ...   8.0500   NaN         S
..           ...       ...     ...  ...      ...   ...       ...
886          887         0       2  ...  13.0000   NaN         S
887          888         1       1  ...  30.0000   B42         S
888          889         0       3  ...  23.4500   NaN         S
889          890         1       1  ...  30.0000  C148    port c
890          891         0       3  ...   7.7500   NaN         Q

[891 rows x 12 columns]

In [ ]:
df1['Embarked'].unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [ ]:
#replace more column values
df1['Embarked'] = df1['Embarked'].replace(['C','S'],['port c','port S'])
df1

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0              1         0       3  ...   7.2500   NaN    port S
1              2         1       1  ...  71.2833   C85    port c
2              3         1       3  ...   7.9250   NaN    port S
3              4         1       1  ...  53.1000  C123    port S
4              5         0       3  ...   8.0500   NaN    port S
..           ...       ...     ...  ...      ...   ...       ...
886          887         0       2  ...  13.0000   NaN    port S
887          888         1       1  ...  30.0000   B42    port S
888          889         0       3  ...  23.4500   NaN    port S
889          890         1       1  ...  30.0000  C148    port c
890          891         0       3  ...   7.7500   NaN         Q

[891 rows x 12 columns]

In [ ]:
#Renaming columns
df1.rename(columns={'Name':'a','Sex':'Gender'})

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0              1         0       3  ...   7.2500   NaN    port S
1              2         1       1  ...  71.2833   C85    port c
2              3         1       3  ...   7.9250   NaN    port S
3              4         1       1  ...  53.1000  C123    port S
4              5         0       3  ...   8.0500   NaN    port S
..           ...       ...     ...  ...      ...   ...       ...
886          887         0       2  ...  13.0000   NaN    port S
887          888         1       1  ...  30.0000   B42    port S
888          889         0       3  ...  23.4500   NaN    port S
889          890         1       1  ...  30.0000  C148    port c
890          891         0       3  ...   7.7500   NaN         Q

[891 rows x 12 columns]

In [ ]:
#NA
df1=df1.drop(['Survived','Age'],axis=1)
df1

     PassengerId  Pclass  ... Cabin Embarked
0              1       3  ...   NaN        S
1              2       1  ...   C85        C
2              3       3  ...   NaN        S
3              4       1  ...  C123        S
4              5       3  ...   NaN        S
..           ...     ...  ...   ...      ...
886          887       2  ...   NaN        S
887          888       1  ...   B42        S
888          889       3  ...   NaN        S
889          890       1  ...  C148        C
890          891       3  ...   NaN        Q

[891 rows x 10 columns]

In [ ]:
df1=df1.drop(df1.index[2])
df1

     PassengerId  Pclass  ... Cabin Embarked
0              1       3  ...   NaN        S
1              2       1  ...   C85        C
4              5       3  ...   NaN        S
5              6       3  ...   NaN        Q
6              7       1  ...   E46        S
..           ...     ...  ...   ...      ...
886          887       2  ...   NaN        S
887          888       1  ...   B42        S
888          889       3  ...   NaN        S
889          890       1  ...  C148        C
890          891       3  ...   NaN        Q

[889 rows x 10 columns]

In [ ]:
for i in df1['Embarked']:
  print(i)

S
C
S
S
S
Q
S
S
S
C
S
S
S
S
S
S
Q
S
S
C
S
S
Q
S
S
S
C
S
Q
S
C
C
Q
S
C
S
C
S
S
C
S
S
C
C
Q
S
Q
Q
C
S
S
S
C
S
C
S
S
C
S
S
C
nan
S
S
C
C
S
S
S
S
S
S
S
C
S
S
S
S
S
S
S
S
Q
S
S
S
S
S
S
S
S
S
S
S
S
S
C
C
S
S
S
S
S
S
S
S
S
S
S
Q
S
C
S
S
C
S
Q
S
C
S
S
S
C
S
S
C
Q
S
C
S
C
S
S
S
S
C
S
S
S
C
C
S
S
Q
S
S
S
S
S
S
S
S
S
S
S
C
Q
S
S
S
S
S
S
S
S
S
S
S
S
S
S
Q
S
S
C
S
S
C
S
S
S
C
S
S
S
S
Q
S
Q
S
S
S
S
S
C
C
Q
S
Q
S
S
S
S
C
S
S
S
C
Q
C
S
S
S
S
Q
C
S
S
C
S
S
S
S
S
S
S
S
S
S
S
S
S
S
S
S
S
S
S
S
S
C
Q
S
S
C
Q
S
S
S
S
S
S
S
S
S
C
C
S
C
S
Q
S
S
S
Q
S
S
S
S
S
S
S
S
C
Q
S
S
S
Q
S
Q
S
S
S
S
C
S
S
S
Q
S
C
C
S
S
C
C
S
S
C
Q
Q
S
Q
S
S
C
C
C
C
C
C
S
S
S
S
S
S
S
C
S
S
Q
S
S
C
S
S
S
C
Q
S
S
S
S
S
S
C
S
S
S
S
S
S
S
S
S
S
S
S
S
S
C
S
C
S
S
S
Q
Q
S
C
C
S
Q
S
C
C
Q
C
C
S
S
C
S
C
S
C
C
S
C
C
S
S
S
S
S
S
Q
C
S
S
S
C
S
S
S
S
S
S
S
S
S
S
S
S
S
S
S
S
S
Q
Q
S
S
S
S
S
S
S
C
Q
S
S
S
S
S
S
Q
S
S
S
S
S
S
S
S
S
S
S
S
S
S
S
S
S
S
S
C
S
S
S
C
C
S
C
S
S
S
Q
S
S
S
S
S
S
S
S
Q
C
S
S
S
C
S
S
S
S
S
S
S
S
S
S
C
S
S
C
S
S
S
S
S
C
S
C
C
S
S
S
S
Q
Q
S
S
C
S
S
S
S
Q
S
S
C
S
S
S
Q
S
S
S
S
C
C
C
Q
S
S
S
S
S
C
C
C
S
S
S
C
S
C
S
S
S
S
C
S
S
C
S
S
C
S
Q
C
S
S
C
C
S
S
Q
S
S
S
S
S
S
S
C
S
S
S
S
Q
S
S
S
S
C
S
S
C
S
C
C
S
S
C
S
S
S
C
S
Q
S
S
S
S
C
C
S
S
S
S
C
S
S
S
C
S
S
S
Q
Q
S
S
S
S
S
S
C
S
C
S
S
S
Q
S
S
Q
S
S
C
S
S
S
S
S
S
S
S
C
S
S
C
C
S
C
S
S
S
S
S
Q
Q
S
S
Q
S
C
S
C
S
S
S
S
S
S
S
S
S
S
S
S
S
S
S
S
S
C
Q
C
S
S
S
C
S
S
S
S
S
C
S
C
S
S
S
Q
C
S
C
S
C
Q
S
S
S
S
S
C
C
S
S
S
S
S
C
S
Q
S
S
S
S
S
S
S
S
Q
S
S
S
C
S
S
S
S
S
C
S
S
S
S
C
S
S
S
S
S
S
Q
S
S
S
S
S
S
S
S
S
S
S
S
C
S
S
S
C
Q
Q
S
S
S
S
C
S
S
Q
S
Q
S
C
S
S
S
S
S
S
Q
S
C
Q
S
S
C
S
S
S
S
C
S
S
S
S
C
S
S
S
S
S
S
S
S
S
S
S
S
S
C
S
S
S
S
S
S
S
Q
S
C
Q
nan
C
S
C
S
S
C
S
S
S
C
S
S
C
C
S
S
S
C
S
C
S
S
C
S
S
S
S
S
C
C
S
S
S
S
S
S
C
S
S
S
S
S
S
S
C
C
S
S
S
C
S
S
S
S
S
Q
S
S
S
C
Q

In [ ]:
#drop duplicates
df1.drop_duplicates()
df1

     PassengerId  Pclass  ... Cabin Embarked
0              1       3  ...   NaN        S
1              2       1  ...   C85        C
4              5       3  ...   NaN        S
5              6       3  ...   NaN        Q
6              7       1  ...   E46        S
..           ...     ...  ...   ...      ...
886          887       2  ...   NaN        S
887          888       1  ...   B42        S
888          889       3  ...   NaN        S
889          890       1  ...  C148        C
890          891       3  ...   NaN        Q

[889 rows x 10 columns]

In [ ]:
for i in df1:
  print(df1[i])

0        1
1        2
2        3
3        4
4        5
      ...
886    887
887    888
888    889
889    890
890    891
Name: PassengerId, Length: 891, dtype: int64
0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64
0      3
1      1
2      3
3      1
4      3
      ..
886    2
887    1
888    3
889    1
890    3
Name: Pclass, Length: 891, dtype: int64
0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
                             ...
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object
0        male
1      female
2      female
3      female
4        male
        ...
886      male
887    female
888    female
889      male
890      male
Name: Sex, Length: 891, dtype: object
0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64
0      1
1      1
2      0
3      1
4      0
      ..
886    0
887    0
888    1
889    0
890    0
Name: SibSp, Length: 891, dtype: int64
0      0
1      0
2      0
3      0
4      0
      ..
886    0
887    0
888    2
889    0
890    0
Name: Parch, Length: 891, dtype: int64
0             A/5 21171
1              PC 17599
2      STON/O2. 3101282
3                113803
4                373450
             ...
886              211536
887              112053
888          W./C. 6607
889              111369
890              370376
Name: Ticket, Length: 891, dtype: object
0       7.2500
1      71.2833
2       7.9250
3      53.1000
4       8.0500
        ...
886    13.0000
887    30.0000
888    23.4500
889    30.0000
890     7.7500
Name: Fare, Length: 891, dtype: float64
0       NaN
1       C85
2       NaN
3      C123
4       NaN
       ...
886     NaN
887     B42
888     NaN
889    C148
890     NaN
Name: Cabin, Length: 891, dtype: object
0      S
1      C
2      S
3      S
4      S
      ..
886    S
887    S
888    S
889    C
890    Q
Name: Embarked, Length: 891, dtype: object

In [ ]:
for i in df1['Name']:
  print(i)

Braund, Mr. Owen Harris
Cumings, Mrs. John Bradley (Florence Briggs Thayer)
Heikkinen, Miss. Laina
Futrelle, Mrs. Jacques Heath (Lily May Peel)
Allen, Mr. William Henry
Moran, Mr. James
McCarthy, Mr. Timothy J
Palsson, Master. Gosta Leonard
Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
Nasser, Mrs. Nicholas (Adele Achem)
Sandstrom, Miss. Marguerite Rut
Bonnell, Miss. Elizabeth
Saundercock, Mr. William Henry
Andersson, Mr. Anders Johan
Vestrom, Miss. Hulda Amanda Adolfina
Hewlett, Mrs. (Mary D Kingcome)
Rice, Master. Eugene
Williams, Mr. Charles Eugene
Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)
Masselmani, Mrs. Fatima
Fynney, Mr. Joseph J
Beesley, Mr. Lawrence
McGowan, Miss. Anna "Annie"
Sloper, Mr. William Thompson
Palsson, Miss. Torborg Danira
Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)
Emir, Mr. Farred Chehab
Fortune, Mr. Charles Alexander
O'Dwyer, Miss. Ellen "Nellie"
Todoroff, Mr. Lalio
Uruchurtu, Don. Manuel E
Spencer, Mrs. William Augustus (Marie Eugenie)
Glynn, Miss. Mary Agatha
Wheadon, Mr. Edward H
Meyer, Mr. Edgar Joseph
Holverson, Mr. Alexander Oskar
Mamee, Mr. Hanna
Cann, Mr. Ernest Charles
Vander Planke, Miss. Augusta Maria
Nicola-Yarred, Miss. Jamila
Ahlin, Mrs. Johan (Johanna Persdotter Larsson)
Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)
Kraeff, Mr. Theodor
Laroche, Miss. Simonne Marie Anne Andree
Devaney, Miss. Margaret Delia
Rogers, Mr. William John
Lennon, Mr. Denis
O'Driscoll, Miss. Bridget
Samaan, Mr. Youssef
Arnold-Franchi, Mrs. Josef (Josefine Franchi)
Panula, Master. Juha Niilo
Nosworthy, Mr. Richard Cater
Harper, Mrs. Henry Sleeper (Myna Haxtun)
Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)
Ostby, Mr. Engelhart Cornelius
Woolner, Mr. Hugh
Rugg, Miss. Emily
Novel, Mr. Mansouer
West, Miss. Constance Mirium
Goodwin, Master. William Frederick
Sirayanian, Mr. Orsen
Icard, Miss. Amelie
Harris, Mr. Henry Birkhardt
Skoog, Master. Harald
Stewart, Mr. Albert A
Moubarek, Master. Gerios
Nye, Mrs. (Elizabeth Ramell)
Crease, Mr. Ernest James
Andersson, Miss. Erna Alexandra
Kink, Mr. Vincenz
Jenkin, Mr. Stephen Curnow
Goodwin, Miss. Lillian Amy
Hood, Mr. Ambrose Jr
Chronopoulos, Mr. Apostolos
Bing, Mr. Lee
Moen, Mr. Sigurd Hansen
Staneff, Mr. Ivan
Moutal, Mr. Rahamin Haim
Caldwell, Master. Alden Gates
Dowdell, Miss. Elizabeth
Waelens, Mr. Achille
Sheerlinck, Mr. Jan Baptist
McDermott, Miss. Brigdet Delia
Carrau, Mr. Francisco M
Ilett, Miss. Bertha
Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)
Ford, Mr. William Neal
Slocovski, Mr. Selman Francis
Fortune, Miss. Mabel Helen
Celotti, Mr. Francesco
Christmann, Mr. Emil
Andreasson, Mr. Paul Edvin
Chaffee, Mr. Herbert Fuller
Dean, Mr. Bertram Frank
Coxon, Mr. Daniel
Shorney, Mr. Charles Joseph
Goldschmidt, Mr. George B
Greenfield, Mr. William Bertram
Doling, Mrs. John T (Ada Julia Bone)
Kantor, Mr. Sinai
Petranec, Miss. Matilda
Petroff, Mr. Pastcho ("Pentcho")
White, Mr. Richard Frasar
Johansson, Mr. Gustaf Joel
Gustafsson, Mr. Anders Vilhelm
Mionoff, Mr. Stoytcho
Salkjelsvik, Miss. Anna Kristine
Moss, Mr. Albert Johan
Rekic, Mr. Tido
Moran, Miss. Bertha
Porter, Mr. Walter Chamberlain
Zabour, Miss. Hileni
Barton, Mr. David John
Jussila, Miss. Katriina
Attalah, Miss. Malake
Pekoniemi, Mr. Edvard
Connors, Mr. Patrick
Turpin, Mr. William John Robert
Baxter, Mr. Quigg Edmond
Andersson, Miss. Ellis Anna Maria
Hickman, Mr. Stanley George
Moore, Mr. Leonard Charles
Nasser, Mr. Nicholas
Webber, Miss. Susan
White, Mr. Percival Wayland
Nicola-Yarred, Master. Elias
McMahon, Mr. Martin
Madsen, Mr. Fridtjof Arne
Peter, Miss. Anna
Ekstrom, Mr. Johan
Drazenoic, Mr. Jozef
Coelho, Mr. Domingos Fernandeo
Robins, Mrs. Alexander A (Grace Charity Laury)
Weisz, Mrs. Leopold (Mathilde Francoise Pede)
Sobey, Mr. Samuel James Hayden
Richard, Mr. Emile
Newsom, Miss. Helen Monypeny
Futrelle, Mr. Jacques Heath
Osen, Mr. Olaf Elon
Giglio, Mr. Victor
Boulos, Mrs. Joseph (Sultana)
Nysten, Miss. Anna Sofia
Hakkarainen, Mrs. Pekka Pietari (Elin Matilda Dolck)
Burke, Mr. Jeremiah
Andrew, Mr. Edgardo Samuel
Nicholls, Mr. Joseph Charles
Andersson, Mr. August Edvard ("Wennerstrom")
Ford, Miss. Robina Maggie "Ruby"
Navratil, Mr. Michel ("Louis M Hoffman")
Byles, Rev. Thomas Roussel Davids
Bateman, Rev. Robert James
Pears, Mrs. Thomas (Edith Wearne)
Meo, Mr. Alfonzo
van Billiard, Mr. Austin Blyler
Olsen, Mr. Ole Martin
Williams, Mr. Charles Duane
Gilnagh, Miss. Katherine "Katie"
Corn, Mr. Harry
Smiljanic, Mr. Mile
Sage, Master. Thomas Henry
Cribb, Mr. John Hatfield
Watt, Mrs. James (Elizabeth "Bessie" Inglis Milne)
Bengtsson, Mr. John Viktor
Calic, Mr. Jovo
Panula, Master. Eino Viljami
Goldsmith, Master. Frank John William "Frankie"
Chibnall, Mrs. (Edith Martha Bowerman)
Skoog, Mrs. William (Anna Bernhardina Karlsson)
Baumann, Mr. John D
Ling, Mr. Lee
Van der hoef, Mr. Wyckoff
Rice, Master. Arthur
Johnson, Miss. Eleanor Ileen
Sivola, Mr. Antti Wilhelm
Smith, Mr. James Clinch
Klasen, Mr. Klas Albin
Lefebre, Master. Henry Forbes
Isham, Miss. Ann Elizabeth
Hale, Mr. Reginald
Leonard, Mr. Lionel
Sage, Miss. Constance Gladys
Pernot, Mr. Rene
Asplund, Master. Clarence Gustaf Hugo
Becker, Master. Richard F
Kink-Heilmann, Miss. Luise Gretchen
Rood, Mr. Hugh Roscoe
O'Brien, Mrs. Thomas (Johanna "Hannah" Godfrey)
Romaine, Mr. Charles Hallace ("Mr C Rolmane")
Bourke, Mr. John
Turcin, Mr. Stjepan
Pinsky, Mrs. (Rosa)
Carbines, Mr. William
Andersen-Jensen, Miss. Carla Christine Nielsine
Navratil, Master. Michel M
Brown, Mrs. James Joseph (Margaret Tobin)
Lurette, Miss. Elise
Mernagh, Mr. Robert
Olsen, Mr. Karl Siegwart Andreas
Madigan, Miss. Margaret "Maggie"
Yrois, Miss. Henriette ("Mrs Harbeck")
Vande Walle, Mr. Nestor Cyriel
Sage, Mr. Frederick
Johanson, Mr. Jakob Alfred
Youseff, Mr. Gerious
Cohen, Mr. Gurshon "Gus"
Strom, Miss. Telma Matilda
Backstrom, Mr. Karl Alfred
Albimona, Mr. Nassef Cassem
Carr, Miss. Helen "Ellen"
Blank, Mr. Henry
Ali, Mr. Ahmed
Cameron, Miss. Clear Annie
Perkin, Mr. John Henry
Givard, Mr. Hans Kristensen
Kiernan, Mr. Philip
Newell, Miss. Madeleine
Honkanen, Miss. Eliina
Jacobsohn, Mr. Sidney Samuel
Bazzani, Miss. Albina
Harris, Mr. Walter
Sunderland, Mr. Victor Francis
Bracken, Mr. James H
Green, Mr. George Henry
Nenkoff, Mr. Christo
Hoyt, Mr. Frederick Maxfield
Berglund, Mr. Karl Ivar Sven
Mellors, Mr. William John
Lovell, Mr. John Hall ("Henry")
Fahlstrom, Mr. Arne Jonas
Lefebre, Miss. Mathilde
Harris, Mrs. Henry Birkhardt (Irene Wallach)
Larsson, Mr. Bengt Edvin
Sjostedt, Mr. Ernst Adolf
Asplund, Miss. Lillian Gertrud
Leyson, Mr. Robert William Norman
Harknett, Miss. Alice Phoebe
Hold, Mr. Stephen
Collyer, Miss. Marjorie "Lottie"
Pengelly, Mr. Frederick William
Hunt, Mr. George Henry
Zabour, Miss. Thamine
Murphy, Miss. Katherine "Kate"
Coleridge, Mr. Reginald Charles
Maenpaa, Mr. Matti Alexanteri
Attalah, Mr. Sleiman
Minahan, Dr. William Edward
Lindahl, Miss. Agda Thorilda Viktoria
Hamalainen, Mrs. William (Anna)
Beckwith, Mr. Richard Leonard
Carter, Rev. Ernest Courtenay
Reed, Mr. James George
Strom, Mrs. Wilhelm (Elna Matilda Persson)
Stead, Mr. William Thomas
Lobb, Mr. William Arthur
Rosblom, Mrs. Viktor (Helena Wilhelmina)
Touma, Mrs. Darwis (Hanne Youssef Razi)
Thorne, Mrs. Gertrude Maybelle
Cherry, Miss. Gladys
Ward, Miss. Anna
Parrish, Mrs. (Lutie Davis)
Smith, Mr. Thomas
Asplund, Master. Edvin Rojj Felix
Taussig, Mr. Emil
Harrison, Mr. William
Henry, Miss. Delia
Reeves, Mr. David
Panula, Mr. Ernesti Arvid
Persson, Mr. Ernst Ulrik
Graham, Mrs. William Thompson (Edith Junkins)
Bissette, Miss. Amelia
Cairns, Mr. Alexander
Tornquist, Mr. William Henry
Mellinger, Mrs. (Elizabeth Anne Maidment)
Natsch, Mr. Charles H
Healy, Miss. Hanora "Nora"
Andrews, Miss. Kornelia Theodosia
Lindblom, Miss. Augusta Charlotta
Parkes, Mr. Francis "Frank"
Rice, Master. Eric
Abbott, Mrs. Stanton (Rosa Hunt)
Duane, Mr. Frank
Olsson, Mr. Nils Johan Goransson
de Pelsmaeker, Mr. Alfons
Dorking, Mr. Edward Arthur
Smith, Mr. Richard William
Stankovic, Mr. Ivan
de Mulder, Mr. Theodore
Naidenoff, Mr. Penko
Hosono, Mr. Masabumi
Connolly, Miss. Kate
Barber, Miss. Ellen "Nellie"
Bishop, Mrs. Dickinson H (Helen Walton)
Levy, Mr. Rene Jacques
Haas, Miss. Aloisia
Mineff, Mr. Ivan
Lewy, Mr. Ervin G
Hanna, Mr. Mansour
Allison, Miss. Helen Loraine
Saalfeld, Mr. Adolphe
Baxter, Mrs. James (Helene DeLaudeniere Chaput)
Kelly, Miss. Anna Katherine "Annie Kate"
McCoy, Mr. Bernard
Johnson, Mr. William Cahoone Jr
Keane, Miss. Nora A
Williams, Mr. Howard Hugh "Harry"
Allison, Master. Hudson Trevor
Fleming, Miss. Margaret
Penasco y Castellana, Mrs. Victor de Satode (Maria Josefa Perez de Soto y Vallejo)
Abelson, Mr. Samuel
Francatelli, Miss. Laura Mabel
Hays, Miss. Margaret Bechstein
Ryerson, Miss. Emily Borie
Lahtinen, Mrs. William (Anna Sylfven)
Hendekovic, Mr. Ignjac
Hart, Mr. Benjamin
Nilsson, Miss. Helmina Josefina
Kantor, Mrs. Sinai (Miriam Sternin)
Moraweck, Dr. Ernest
Wick, Miss. Mary Natalie
Spedden, Mrs. Frederic Oakley (Margaretta Corning Stone)
Dennis, Mr. Samuel
Danoff, Mr. Yoto
Slayter, Miss. Hilda Mary
Caldwell, Mrs. Albert Francis (Sylvia Mae Harbaugh)
Sage, Mr. George John Jr
Young, Miss. Marie Grice
Nysveen, Mr. Johan Hansen
Ball, Mrs. (Ada E Hall)
Goldsmith, Mrs. Frank John (Emily Alice Brown)
Hippach, Miss. Jean Gertrude
McCoy, Miss. Agnes
Partner, Mr. Austen
Graham, Mr. George Edward
Vander Planke, Mr. Leo Edmondus
Frauenthal, Mrs. Henry William (Clara Heinsheimer)
Denkoff, Mr. Mitto
Pears, Mr. Thomas Clinton
Burns, Miss. Elizabeth Margaret
Dahl, Mr. Karl Edwart
Blackwell, Mr. Stephen Weart
Navratil, Master. Edmond Roger
Fortune, Miss. Alice Elizabeth
Collander, Mr. Erik Gustaf
Sedgwick, Mr. Charles Frederick Waddington
Fox, Mr. Stanley Hubert
Brown, Miss. Amelia "Mildred"
Smith, Miss. Marion Elsie
Davison, Mrs. Thomas Henry (Mary E Finck)
Coutts, Master. William Loch "William"
Dimic, Mr. Jovan
Odahl, Mr. Nils Martin
Williams-Lambert, Mr. Fletcher Fellows
Elias, Mr. Tannous
Arnold-Franchi, Mr. Josef
Yousif, Mr. Wazli
Vanden Steen, Mr. Leo Peter
Bowerman, Miss. Elsie Edith
Funk, Miss. Annie Clemmer
McGovern, Miss. Mary
Mockler, Miss. Helen Mary "Ellie"
Skoog, Mr. Wilhelm
del Carlo, Mr. Sebastiano
Barbara, Mrs. (Catherine David)
Asim, Mr. Adola
O'Brien, Mr. Thomas
Adahl, Mr. Mauritz Nils Martin
Warren, Mrs. Frank Manley (Anna Sophia Atkinson)
Moussa, Mrs. (Mantoura Boulos)
Jermyn, Miss. Annie
Aubart, Mme. Leontine Pauline
Harder, Mr. George Achilles
Wiklund, Mr. Jakob Alfred
Beavan, Mr. William Thomas
Ringhini, Mr. Sante
Palsson, Miss. Stina Viola
Meyer, Mrs. Edgar Joseph (Leila Saks)
Landergren, Miss. Aurora Adelia
Widener, Mr. Harry Elkins
Betros, Mr. Tannous
Gustafsson, Mr. Karl Gideon
Bidois, Miss. Rosalie
Nakid, Miss. Maria ("Mary")
Tikkanen, Mr. Juho
Holverson, Mrs. Alexander Oskar (Mary Aline Towner)
Plotcharsky, Mr. Vasil
Davies, Mr. Charles Henry
Goodwin, Master. Sidney Leonard
Buss, Miss. Kate
Sadlier, Mr. Matthew
Lehmann, Miss. Bertha
Carter, Mr. William Ernest
Jansson, Mr. Carl Olof
Gustafsson, Mr. Johan Birger
Newell, Miss. Marjorie
Sandstrom, Mrs. Hjalmar (Agnes Charlotta Bengtsson)
Johansson, Mr. Erik
Olsson, Miss. Elina
McKane, Mr. Peter David
Pain, Dr. Alfred
Trout, Mrs. William H (Jessie L)
Niskanen, Mr. Juha
Adams, Mr. John
Jussila, Miss. Mari Aina
Hakkarainen, Mr. Pekka Pietari
Oreskovic, Miss. Marija
Gale, Mr. Shadrach
Widegren, Mr. Carl/Charles Peter
Richards, Master. William Rowe
Birkeland, Mr. Hans Martin Monsen
Lefebre, Miss. Ida
Sdycoff, Mr. Todor
Hart, Mr. Henry
Minahan, Miss. Daisy E
Cunningham, Mr. Alfred Fleming
Sundman, Mr. Johan Julian
Meek, Mrs. Thomas (Annie Louise Rowley)
Drew, Mrs. James Vivian (Lulu Thorne Christian)
Silven, Miss. Lyyli Karoliina
Matthews, Mr. William John
Van Impe, Miss. Catharina
Gheorgheff, Mr. Stanio
Charters, Mr. David
Zimmerman, Mr. Leo
Danbom, Mrs. Ernst Gilbert (Anna Sigrid Maria Brogren)
Rosblom, Mr. Viktor Richard
Wiseman, Mr. Phillippe
Clarke, Mrs. Charles V (Ada Maria Winfield)
Phillips, Miss. Kate Florence ("Mrs Kate Louise Phillips Marshall")
Flynn, Mr. James
Pickard, Mr. Berk (Berk Trembisky)
Bjornstrom-Steffansson, Mr. Mauritz Hakan
Thorneycroft, Mrs. Percival (Florence Kate White)
Louch, Mrs. Charles Alexander (Alice Adelaide Slow)
Kallio, Mr. Nikolai Erland
Silvey, Mr. William Baird
Carter, Miss. Lucile Polk
Ford, Miss. Doolina Margaret "Daisy"
Richards, Mrs. Sidney (Emily Hocking)
Fortune, Mr. Mark
Kvillner, Mr. Johan Henrik Johannesson
Hart, Mrs. Benjamin (Esther Ada Bloomfield)
Hampe, Mr. Leon
Petterson, Mr. Johan Emil
Reynaldo, Ms. Encarnacion
Johannesen-Bratthammer, Mr. Bernt
Dodge, Master. Washington
Mellinger, Miss. Madeleine Violet
Seward, Mr. Frederic Kimber
Baclini, Miss. Marie Catherine
Peuchen, Major. Arthur Godfrey
West, Mr. Edwy Arthur
Hagland, Mr. Ingvald Olai Olsen
Foreman, Mr. Benjamin Laventall
Goldenberg, Mr. Samuel L
Peduzzi, Mr. Joseph
Jalsevac, Mr. Ivan
Millet, Mr. Francis Davis
Kenyon, Mrs. Frederick R (Marion)
Toomey, Miss. Ellen
O'Connor, Mr. Maurice
Anderson, Mr. Harry
Morley, Mr. William
Gee, Mr. Arthur H
Milling, Mr. Jacob Christian
Maisner, Mr. Simon
Goncalves, Mr. Manuel Estanslas
Campbell, Mr. William
Smart, Mr. John Montgomery
Scanlan, Mr. James
Baclini, Miss. Helene Barbara
Keefe, Mr. Arthur
Cacic, Mr. Luka
West, Mrs. Edwy Arthur (Ada Mary Worth)
Jerwan, Mrs. Amin S (Marie Marthe Thuillard)
Strandberg, Miss. Ida Sofia
Clifford, Mr. George Quincy
Renouf, Mr. Peter Henry
Braund, Mr. Lewis Richard
Karlsson, Mr. Nils August
Hirvonen, Miss. Hildur E
Goodwin, Master. Harold Victor
Frost, Mr. Anthony Wood "Archie"
Rouse, Mr. Richard Henry
Turkula, Mrs. (Hedwig)
Bishop, Mr. Dickinson H
Lefebre, Miss. Jeannie
Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby)
Kent, Mr. Edward Austin
Somerton, Mr. Francis William
Coutts, Master. Eden Leslie "Neville"
Hagland, Mr. Konrad Mathias Reiersen
Windelov, Mr. Einar
Molson, Mr. Harry Markland
Artagaveytia, Mr. Ramon
Stanley, Mr. Edward Roland
Yousseff, Mr. Gerious
Eustis, Miss. Elizabeth Mussey
Shellard, Mr. Frederick William
Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
Svensson, Mr. Olof
Calic, Mr. Petar
Canavan, Miss. Mary
O'Sullivan, Miss. Bridget Mary
Laitinen, Miss. Kristina Sofia
Maioni, Miss. Roberta
Penasco y Castellana, Mr. Victor de Satode
Quick, Mrs. Frederick Charles (Jane Richards)
Bradley, Mr. George ("George Arthur Brayton")
Olsen, Mr. Henry Margido
Lang, Mr. Fang
Daly, Mr. Eugene Patrick
Webber, Mr. James
McGough, Mr. James Robert
Rothschild, Mrs. Martin (Elizabeth L. Barrett)
Coleff, Mr. Satio
Walker, Mr. William Anderson
Lemore, Mrs. (Amelia Milley)
Ryan, Mr. Patrick
Angle, Mrs. William A (Florence "Mary" Agnes Hughes)
Pavlovic, Mr. Stefo
Perreault, Miss. Anne
Vovk, Mr. Janko
Lahoud, Mr. Sarkis
Hippach, Mrs. Louis Albert (Ida Sophia Fischer)
Kassem, Mr. Fared
Farrell, Mr. James
Ridsdale, Miss. Lucy
Farthing, Mr. John
Salonen, Mr. Johan Werner
Hocking, Mr. Richard George
Quick, Miss. Phyllis May
Toufik, Mr. Nakli
Elias, Mr. Joseph Jr
Peter, Mrs. Catherine (Catherine Rizk)
Cacic, Miss. Marija
Hart, Miss. Eva Miriam
Butt, Major. Archibald Willingham
LeRoy, Miss. Bertha
Risien, Mr. Samuel Beard
Frolicher, Miss. Hedwig Margaritha
Crosby, Miss. Harriet R
Andersson, Miss. Ingeborg Constanzia
Andersson, Miss. Sigrid Elisabeth
Beane, Mr. Edward
Douglas, Mr. Walter Donald
Nicholson, Mr. Arthur Ernest
Beane, Mrs. Edward (Ethel Clarke)
Padro y Manent, Mr. Julian
Goldsmith, Mr. Frank John
Davies, Master. John Morgan Jr
Thayer, Mr. John Borland Jr
Sharp, Mr. Percival James R
O'Brien, Mr. Timothy
Leeni, Mr. Fahim ("Philip Zenni")
Ohman, Miss. Velin
Wright, Mr. George
Duff Gordon, Lady. (Lucille Christiana Sutherland) ("Mrs Morgan")
Robbins, Mr. Victor
Taussig, Mrs. Emil (Tillie Mandelbaum)
de Messemaeker, Mrs. Guillaume Joseph (Emma)
Morrow, Mr. Thomas Rowan
Sivic, Mr. Husein
Norman, Mr. Robert Douglas
Simmons, Mr. John
Meanwell, Miss. (Marion Ogden)
Davies, Mr. Alfred J
Stoytcheff, Mr. Ilia
Palsson, Mrs. Nils (Alma Cornelia Berglund)
Doharr, Mr. Tannous
Jonsson, Mr. Carl
Harris, Mr. George
Appleton, Mrs. Edward Dale (Charlotte Lamson)
Flynn, Mr. John Irwin ("Irving")
Kelly, Miss. Mary
Rush, Mr. Alfred George John
Patchett, Mr. George
Garside, Miss. Ethel
Silvey, Mrs. William Baird (Alice Munger)
Caram, Mrs. Joseph (Maria Elias)
Jussila, Mr. Eiriik
Christy, Miss. Julie Rachel
Thayer, Mrs. John Borland (Marian Longstreth Morris)
Downton, Mr. William James
Ross, Mr. John Hugo
Paulner, Mr. Uscher
Taussig, Miss. Ruth
Jarvis, Mr. John Denzil
Frolicher-Stehli, Mr. Maxmillian
Gilinski, Mr. Eliezer
Murdlin, Mr. Joseph
Rintamaki, Mr. Matti
Stephenson, Mrs. Walter Bertram (Martha Eustis)
Elsbury, Mr. William James
Bourke, Miss. Mary
Chapman, Mr. John Henry
Van Impe, Mr. Jean Baptiste
Leitch, Miss. Jessie Wills
Johnson, Mr. Alfred
Boulos, Mr. Hanna
Duff Gordon, Sir. Cosmo Edmund ("Mr Morgan")
Jacobsohn, Mrs. Sidney Samuel (Amy Frances Christy)
Slabenoff, Mr. Petco
Harrington, Mr. Charles H
Torber, Mr. Ernst William
Homer, Mr. Harry ("Mr E Haven")
Lindell, Mr. Edvard Bengtsson
Karaic, Mr. Milan
Daniel, Mr. Robert Williams
Laroche, Mrs. Joseph (Juliette Marie Louise Lafargue)
Shutes, Miss. Elizabeth W
Andersson, Mrs. Anders Johan (Alfrida Konstantia Brogren)
Jardin, Mr. Jose Neto
Murphy, Miss. Margaret Jane
Horgan, Mr. John
Brocklebank, Mr. William Alfred
Herman, Miss. Alice
Danbom, Mr. Ernst Gilbert
Lobb, Mrs. William Arthur (Cordelia K Stanlick)
Becker, Miss. Marion Louise
Gavey, Mr. Lawrence
Yasbeck, Mr. Antoni
Kimball, Mr. Edwin Nelson Jr
Nakid, Mr. Sahid
Hansen, Mr. Henry Damsgaard
Bowen, Mr. David John "Dai"
Sutton, Mr. Frederick
Kirkland, Rev. Charles Leonard
Longley, Miss. Gretchen Fiske
Bostandyeff, Mr. Guentcho
O'Connell, Mr. Patrick D
Barkworth, Mr. Algernon Henry Wilson
Lundahl, Mr. Johan Svensson
Stahelin-Maeglin, Dr. Max
Parr, Mr. William Henry Marsh
Skoog, Miss. Mabel
Davis, Miss. Mary
Leinonen, Mr. Antti Gustaf
Collyer, Mr. Harvey
Panula, Mrs. Juha (Maria Emilia Ojala)
Thorneycroft, Mr. Percival
Jensen, Mr. Hans Peder
Sagesser, Mlle. Emma
Skoog, Miss. Margit Elizabeth
Foo, Mr. Choong
Baclini, Miss. Eugenie
Harper, Mr. Henry Sleeper
Cor, Mr. Liudevit
Simonius-Blumer, Col. Oberst Alfons
Willey, Mr. Edward
Stanley, Miss. Amy Zillah Elsie
Mitkoff, Mr. Mito
Doling, Miss. Elsie
Kalvik, Mr. Johannes Halvorsen
O'Leary, Miss. Hanora "Norah"
Hegarty, Miss. Hanora "Nora"
Hickman, Mr. Leonard Mark
Radeff, Mr. Alexander
Bourke, Mrs. John (Catherine)
Eitemiller, Mr. George Floyd
Newell, Mr. Arthur Webster
Frauenthal, Dr. Henry William
Badt, Mr. Mohamed
Colley, Mr. Edward Pomeroy
Coleff, Mr. Peju
Lindqvist, Mr. Eino William
Hickman, Mr. Lewis
Butler, Mr. Reginald Fenton
Rommetvedt, Mr. Knud Paust
Cook, Mr. Jacob
Taylor, Mrs. Elmer Zebley (Juliet Cummins Wright)
Brown, Mrs. Thomas William Solomon (Elizabeth Catherine Ford)
Davidson, Mr. Thornton
Mitchell, Mr. Henry Michael
Wilhelms, Mr. Charles
Watson, Mr. Ennis Hastings
Edvardsson, Mr. Gustaf Hjalmar
Sawyer, Mr. Frederick Charles
Turja, Miss. Anna Sofia
Goodwin, Mrs. Frederick (Augusta Tyler)
Cardeza, Mr. Thomas Drake Martinez
Peters, Miss. Katie
Hassab, Mr. Hammad
Olsvigen, Mr. Thor Anderson
Goodwin, Mr. Charles Edward
Brown, Mr. Thomas William Solomon
Laroche, Mr. Joseph Philippe Lemercier
Panula, Mr. Jaako Arnold
Dakic, Mr. Branko
Fischer, Mr. Eberhard Thelander
Madill, Miss. Georgette Alexandra
Dick, Mr. Albert Adrian
Karun, Miss. Manca
Lam, Mr. Ali
Saad, Mr. Khalil
Weir, Col. John
Chapman, Mr. Charles Henry
Kelly, Mr. James
Mullens, Miss. Katherine "Katie"
Thayer, Mr. John Borland
Humblen, Mr. Adolf Mathias Nicolai Olsen
Astor, Mrs. John Jacob (Madeleine Talmadge Force)
Silverthorne, Mr. Spencer Victor
Barbara, Miss. Saiide
Gallagher, Mr. Martin
Hansen, Mr. Henrik Juul
Morley, Mr. Henry Samuel ("Mr Henry Marshall")
Kelly, Mrs. Florence "Fannie"
Calderhead, Mr. Edward Pennington
Cleaver, Miss. Alice
Moubarek, Master. Halim Gonios ("William George")
Mayne, Mlle. Berthe Antonine ("Mrs de Villiers")
Klaber, Mr. Herman
Taylor, Mr. Elmer Zebley
Larsson, Mr. August Viktor

In [ ]:
#looping 
for Name in df1['Name'][0:5]:
  print(Name.upper())

BRAUND, MR. OWEN HARRIS
CUMINGS, MRS. JOHN BRADLEY (FLORENCE BRIGGS THAYER)
ALLEN, MR. WILLIAM HENRY
MORAN, MR. JAMES
MCCARTHY, MR. TIMOTHY J

In [ ]:
import pandas as pd

df = pd.DataFrame({'A': [11, 21, 31],
                   'B': [12, 22, 32],
                   'C': [13, 23, 33]},
                  index=['ONE', 'TWO', 'THREE'])

print(df)
#         A   B   C
# ONE    11  12  13
# TWO    21  22  23
# THREE  31  32  33

        A   B   C
ONE    11  12  13
TWO    21  22  23
THREE  31  32  33

In [ ]:
df_new = df.rename(columns={'A': 'a'}, index={'ONE': 'one'})
print(df_new)
#         a   B   C
# one    11  12  13
# TWO    21  22  23
# THREE  31  32  33

print(df)
#         A   B   C
# ONE    11  12  13
# TWO    21  22  23
# THREE  31  32  33

        a   B   C
one    11  12  13
TWO    21  22  23
THREE  31  32  33
        A   B   C
ONE    11  12  13
TWO    21  22  23
THREE  31  32  33

In [ ]:
df.fillna(df.mean())

In [ ]:
df = df.fillna(method='ffill')# forward fill

In [ ]:
df = df.fillna(method='bfill')

In [ ]:
df = df.fillna(25)